.title {
  background: #0D0D0D;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 280px;
  font-size: 70px;
  position: relative;
  background: linear-gradient(to right, rgb(0, 170, 255), #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -100px;
  }
.message{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 0px 320px;
  margin-top: -50px;
  text-align: justify;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 280px;
  margin-bottom: -100px;
}
