.header {
  background: rgb(1, 1, 22);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 280px;
  position: relative;
}

.newTaskForm {
  position: absolute;
  height: 54px;
  bottom: -27px;
  width: 100%;
  max-width: 736px;
  display: flex;
  gap: 8px;
  padding: 0 1rem;
}

.inputTitle {
  height: 70%;
  width: 87%;
  flex: 1;
  color: black;
  border: 1.5px solid orangered;
  border-radius: 8px;
  padding: 0 16px;
  font-size: 14px;
}

.inputDescription {
  position: absolute;
  border: 1px solid orangered;
  border-radius: 8px;
  bottom: -25px;
  width: 50%;
  max-width: 736px;
  display: flex;
  gap: 8px;
  padding: 1rem;
  height: 20%;
  width: 40%;
}

.newTaskForm input::placeholder {
  color: black;
}

.newTaskForm button {
  height: 100%;
  padding: 0 16px;
  background: orangered;
  color: #fff;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
}

/* .error {
position: relative;
height: 70%;
width: 40%;
border: 2px solid ;
border-radius: 8px;
padding: 0 16px;
background: white;
color: orangered;
margin-top: 4px;
font-size: 12px;
}
     */