.header {
    background: rgb(1, 1, 22);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    position: relative;
}

.newTaskForm {
    position: absolute;
    height: 54px;
    bottom: -27px;
    width: 100%;
    max-width: 736px;
    display: flex;
    gap: 8px;
    padding: 0 1rem;
  }
  
  .newTaskForm input {
    height: 100%;
    flex: 1;
    color: black;
    background: white;
    border: 3px solid orangered;
    border-radius: 8px;
    padding: 0 16px;
    font-size: 16px;
  }
  
.newTaskForm input::placeholder {
    color: black;
  }
  
.newTaskForm button {
    height: 100%;
    padding: 0 16px;
    background: orangered;
    color: #fff;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 700;
    font-size: 14px;
  }

